<div class="card card-transparent mb-4 mb-lg-0">
    <div class="card-body pb-0 pt-0">
        <h4 class="card-title">Navigation</h4>
        <nav class="nav flex-column">
            <a class="nav-item nav-link pl-0 pr-0" href="{{ site_url('/account/profile') }}">Profile</a></li>     
            <a class="nav-item nav-link pl-0 pr-0" href="{{ site_url('/account/password') }}">Change Password</a></li>       
            <a class="nav-item nav-link pl-0 pr-0" href="{{ site_url('/account/subscriptions') }}">Subscriptions</a></li>
            <a class="nav-item nav-link pl-0 pr-0" href="{{ site_url('/account/orders') }}">Order History</a></li>            
            
            {% if hasFeature('saved-cards') %}
                <a class="nav-item nav-link pl-0 pr-0" href="{{ site_url('/account/payment-method') }}">Credit Card</a>
            {% endif %}

            <a class="nav-item nav-link pl-0 pr-0" href="{{ site_url('/logout') }}">Sign Out</a></li>
        </nav>
    </div>
</div>