{{ partial('flash') }}

{{ open_form({
    'class': 'validate-password-my-account', 
    'data-ajax-handler': 'shop:onChangePassword',
    'data-ajax-update': '#profile-password-form=profile-password-change-form',
    'data-validation-message' : ''
}) }}

    <div class="card mb-4">
        <div class="card-body">
            <h4 class="card-title">Change Password</h4>
            <div class="row">
                <div class="form-group col-md-12">
                    <label class="control-label" for="old-password">Current Password</label>
                    <input id="old-password" class="form-control" name="oldPassword" type="password">
                    <span class="error small text-danger"></span>
                </div>
            
                <div class="form-group col-md-6">
                    <label class="control-label" for="password">New Password</label>
                    <input id="password" class="form-control" name="password" type="password">
                    <span class="error small text-danger"></span>
                </div>
            
                <div class="form-group col-md-6">
                    <label class="control-label" for="password-confirmation">Password (Confirmation)</label>
                    <input id="password-confirmation" class="form-control" name="passwordConfirm" type="password">
                    <span class="error small text-danger"></span>
                </div>
            </div>
        </div>
    </div>    

    <div class="form-group">
        <button class="btn btn-primary">Update Password</button>
    </div>

{{ close_form() }}