{% if param('updated') %}
    <p class="alert alert-success">Your subscription was updated successfully!</p>
{% else %}
    {{ partial('flash') }}
{% endif %}

<div class="card mb-4">
    <div class="card-body">

    	<div class="table-responsive">
    	    <table class="table">
    	        <thead>
    	            <tr>
    	                <th>Started:</th>
    	                <th>Next Renewal Date:</th>
    	                <th>Next Renewal Amount: </th>
    	                <th>Number of Items:</th>
    	            </tr>
    	        </thead>
    	        <tbody>
                <tr>
                    <td>{{ subscription.created_at.format("m/d/Y") }}</td>
                    <td>{{ subscription.nextRenewalDate() }}</td>
                    <td>{{ subscription.nextRenewalAmount() }}</td>
                    <td>{{ subscription.products.first.quantity }}</td>
                </tr>
    	        </tbody>
    	    </table>
    	</div>

        {% set has_options = false %}

        {% for item in subscription.products %}
            <h4 class="mt-2">{{ item.product.name }}</h4>

            {% if theme.allowOptionChanges and 0 != item.product.options.count %}

                {% set has_options = true %}

                {{ open_form({ 'class': 'subscription-product-form' }) }}

                    <input name="subscription_id" type="hidden" value="{{ subscription.id }}">
                    <input name="item_id" type="hidden" value="{{ item.id }}">
                    <input name="product_id" type="hidden" value="{{ item.product.id }}">
                    <input name="quantity" type="hidden" value="{{ item.quantity }}">

                    <div class="row">

                        {% for index, option in item.product.options %}

                            <div class="form-group col-md-4">
                                <label class="control-label" for="option-{{ loop.index }}">{{ option.name }}</label>


                                <select id="option-{{ loop.index }}" class="form-control custom-select" name="options[{{ option.id }}]">

                                    {% for key, value in option.values %}
                                        <option value="{{ key }}" {{ option_state(item.options[option.id]['valueId'], key) }}>{{ value }}</option>
                                    {% endfor %}

                                </select>
                            </div>

                        {% endfor %}

                    </div>

                {{ close_form() }}
            {% endif %}

        {% endfor %}

        {% if has_options %}
            <button class="btn btn-primary btn-update-subscription" type="button">Update Options</button>
        {% endif %}


    </div>
</div>

<div class="card mb-4">
    <div class="card-body">


        <div class="row">
            <div class="col-lg-7">

				{{ flash() }}
                {{ open_form({
                    'class': 'custom',
                    'data-ajax-handler': 'subscriptions:onUpdateSubscriptionStatus',
                    'data-ajax-redirect': root_url('/account/subscription/' ~ subscription.id),
                    'data-validation-message' : ''
                }) }}

                <div class="form-group">
                	<label class="control-label" for="billing-plan">Update Subscription</label>
                    <input name="subscription_id" type="hidden" value="{{ subscription.id }}">


                {{ close_form() }}


	                {% if subscription.status.name in 'Active' %}
	                	<div class="subscription_status_block active">
	                    {% for status in subscriptionStatuses if (status.code == 'active') %}
	                				<h6>Current Status: <span>{{ status.name }}</span></h6>
	                        <a class="btn subscription_pause"
	                        href="#"
	                        data-ajax-handler="subscriptions:onUpdateSubscriptionStatus"
	                        data-ajax-update="#subscription-content=account-subscription-content"
	                        data-ajax-redirect="{{ root_url('/account/subscription/' ~ subscription.id) }}"
	                        data-ajax-extra-fields="subscription_status='paused', subscription_id='{{ subscription.id }}"
	                        >
	                        	<span>Pause Subscription</span>
	                        </a>
	                        <a class="btn subscription_cancel"
	                        href="#"
	                        data-ajax-handler="subscriptions:onUpdateSubscriptionStatus"
	                        data-ajax-update="#subscription-content=account-subscription-content"
	                        data-ajax-redirect="{{ root_url('/account/subscription/' ~ subscription.id) }}"
	                        data-ajax-extra-fields="subscription_status='cancelled', subscription_id='{{ subscription.id }}"
	                        >
	                        	<span>Or, cancel your subscription</span>
	                        </a>
	                    {% endfor %}
	                	</div>
	                {% endif %}


	                {% if subscription.status.name in 'Paused' %}
                   	<div class="subscription_status_block paused">
                      {% for status in subscriptionStatuses if (status.code == 'paused') %}
                      	<h6>Current Status: <span>{{ status.name }}</span></h6>
      	                  <a class="btn subscription_activate"
      	                  href="#"
      	                  data-ajax-handler="subscriptions:onUpdateSubscriptionStatus"
      	                  data-ajax-update="#subscription-content=account-subscription-content"
      	                  data-ajax-redirect="{{ root_url('/account/subscription/' ~ subscription.id) }}"
      	                  data-ajax-extra-fields="subscription_status='active', subscription_id='{{ subscription.id }}"
      	                  >
      	                  	<span>Activate Subscription</span>
      	                  </a>
      	                  <a class="btn subscription_cancel"
      	                  href="#"
      	                  data-ajax-handler="subscriptions:onUpdateSubscriptionStatus"
      	                  data-ajax-update="#subscription-content=account-subscription-content"
      	                  data-ajax-redirect="{{ root_url('/account/subscription/' ~ subscription.id) }}"
      	                  data-ajax-extra-fields="subscription_status='cancelled', subscription_id='{{ subscription.id }}"
      	                  >
      	                  	<span>Or, cancel your subscription</span>
      	                  </a>
                      {% endfor %}
                   	</div>
	                {% endif %}

	                {% if subscription.status.name in 'Cancelled' %}
                    <div class="subscription_status_block cancelled">
                      {% for status in subscriptionStatuses if (status.code == 'cancelled') %}
                      	<h6>Current Status: <span>{{ status.name }}</span></h6>
      	                  <a class="btn subscription_activate"
      	                  href="#"
      	                  data-ajax-handler="subscriptions:onUpdateSubscriptionStatus"
      	                  data-ajax-update="#subscription-content=account-subscription-content"
      	                  data-ajax-redirect="{{ root_url('/account/subscription/' ~ subscription.id) }}"
      	                  data-ajax-extra-fields="subscription_status='active', subscription_id='{{ subscription.id }}"
      	                  >
      	                  	<span>Activate Subscription</span>
      	                  </a>
                      {% endfor %}
                    </div>
	                {% endif %}
                </div>


            </div>

            <div class="col-lg-5">

                {{ open_form({
                    'class': 'custom',
                    'l': 'subscriptions:onUpdateBillingPlan',
                    'data-ajax-redirect': root_url('/account/subscription/' ~ subscription.id),
                    'data-validation-message' : ''
                }) }}

                    <input name="subscription_id" type="hidden" value="{{ subscription.id }}">

                    <div class="form-group">
                        <label class="control-label" for="billing-plan">Change Billing Plan</label>
                        <select id="billing-plan" class="form-control custom-select" name="billing_plan">
                            {% for plan in billingPlans %}
                                <option value="{{ plan.id }}" {{ option_state(plan.id, subscription.billingPlan.id) }}>{{ plan.name }}</option>
                            {% endfor %}
                        </select>
                    </div>

                    <div class="form-group">
                        <button class="btn btn-primary" type="submit">Update Billing Plan</button>
                    </div>

                {{ close_form() }}

            </div>

        </div>

    </div>
</div>

<div class="card">
    <div class="card-body">
    	<label class="control-label" for="billing-plan">Update Card</label>
    	{% if card %}
    	  <!-- Render card details -->
    	    {{ subscriptionCardForm('update',
    	        {
    	            card: card,
    	            options: {
    	                number: {
							class: 'disabled',
    	                    placeholder: 'Card number',
    	                    style: "font-family: Helvetica Neue, Courier New, Courier Monospace, monospace; letter-spacing: 1.5px; font-weight: bold; font-size: 32px; color: #555; line-height: 42px; width: 100%;"
    	                },
    	                cvv: {
    	                    placeholder: 'CVV',
    	                    style: "font-family: Helvetica Neue, Courier New, Courier Monospace, monospace; letter-spacing: 1.5px; font-weight: bold; font-size: 16px; color: #555; line-height: 42px; width: 100%;"
    	                }
    	            }
    	        },
    	    { 'data-ajax-redirect': root_url('/account/subscription/' ~ subscription.id) }) }}
    	{% else %}
    	  <!-- Example - Drop-In Twig Helper on Subscription Page - Add card form from subscriptions page. -->
    	    <p>Add Payment Method</p>
    	    {{ subscriptionCardForm('add',
    	        {
    	            options: {
    	                number: {
    	                    placeholder: 'Card number',
    	                    style: "font-family: Helvetica Neue, Courier New, Courier Monospace, monospace; letter-spacing: 1.5px; font-weight: bold; font-size: 16px; color: #555; line-height: 42px; width: 100%;"
    	                },
    	                cvv: {
    	                    placeholder: 'CVV',
    	                    style: "font-family: Helvetica Neue, Courier New, Courier Monospace, monospace; letter-spacing: 1.5px; font-weight: bold; font-size: 16px; color: #555; line-height: 42px; width: 100%;"
    	                }
    	            }
    	        },
    	    { 'data-ajax-redirect': root_url('/account/subscription/' ~ subscription.id) }) }}
		{% endif %}

		<style>
		.number.card-form-input.disabled {
			border: 0;
			padding-left: 0;
		}
		.card-form-row:first-of-type .card-form-label {
			display: none;
		}
		</style>
    </div>
</div>
