<div class="block block-primary block-banner block-middle" background-image: url({{ theme.imageCalloutBackground.thumbnail('auto', 'auto') }});">
    <div class="block-content">
        <div class="container text-center text-white">
            <h1>{{ theme.calloutTitle|unescape }}</h1>
            <p class="lead">{{ theme.calloutContent|unescape }}</p>
            <a class="font-weight-bold text-uppercase text-white" href="{{ theme.calloutButtonUrl }}">
                {{ theme.calloutButtonText }}
            </a>
        </div>
    </div>
</div>
