---
action: 'shop:login'
template: template-1
protocol: all
published: true
name: Checkout
url: /checkout-start
---
<div class="jumbotron">
   <div class="row" id="login">
        <div class="col-md-12">
            <div class="col-sm-6">
                <p id="title-p">Returning Customers</p>
                {{ open_form({'data-ajax-handler': 'shop:onLogin', 'data-validation-message' : '', 'class' : 'form-horizontal' }) }}

                <div class="form-group">
                    <div class="col-sm-12">
                        <input type="email" class="form-control input-sm" id="login_email" name="email" value="{{ post('email') }}" size="40" autofocus placeholder="Email Address" />
                        <span class="error small text-danger"></span>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-12">
                        <input type="password" class="form-control input-sm" id="login_password" name="password" size="20" placeholder="Password"/>
                        <span class="error small text-danger"></span>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-6">
                        <button type="submit" class="btn btn-sm btn-default">Login</button>
                        <a class="btn btn-sm btn-link forgotpass" href="{{ site_url('password-restore') }}">Forgot your password?</a>
                    </div>
                </div>
                
                <input type="hidden" name="redirect" value="{{ site_url(root_url('/checkout')) }}"/>
      
            {{ close_form() }}
            </div><br>
            <div class="col-xs-12 col-sm-6">
                <form class="form-guest-checkout">
                    <p id="title-p">Guest Checkout</p>
                    <a href="{{ site_url('checkout') }}"><span class="btn btn-sm btn-default">Continue as a Guest</span></a>
                    <br><br>
                    <p>Don't have an account? <a href="{{ site_url('login') }}"> Register</a></p>
                </form>
            </div>
        </div>
</div> 
</div>
