<div class="col-md-8 col-md-offset-2 pricing-box">
	{% for product in featuredCollection.products %}
		{{ partial('shop-grid-item-home', {'product':product}) }}
	{% else %}
		{% set product_counter = 1 %}
        {% set product_limit = 4 %}
        {% for product in products %}
        {% if counter < product_limit %}
        {{ partial('shop-grid-item-home', {'product':product}) }}
        {% set counter = counter + 1 %}
        {% endif %}
        {% endfor %}
	{% endfor %}
</div>