<div class="block block-primary">
    <div class="block-content">
        <div class="container text-center">

            <figure class="testimonial">
                <blockquote>{{ theme.featuredQuoteContent|unescape }}</blockquote>
                <footer>
                    <cite>
                        <span class="author">{{ theme.featuredQuoteAuthor}}</span>
                        <span class="title">{{ theme.featuredQuoteAuthorTitle }}</span>
                    </cite>
                </footer>
            </figure>
            
        </div>
    </div>
</div>