{{ code_block('setup') }}

<div class="full-jumbotron footer row no-border">
	<div class="jumbotron no-border row">
		<div class="row">
			<div class="col-md-5">
				<a href="#">Top</a>
				<a href="{{ site_url('shop') }}">Shop</a>
				<a href="{{ site_url('contact') }}">Contact</a>
				<a href="#">Terms and Conditions</a>
				<a href="#">Privacy Policy</a>
				<br><br>
				<a>{{ theme.contactAddress }}</a>
				<br>
				<br>
				<a href="https://lemonstand.com" target="_blank">Powered by LemonStand</a>
			</div>
			<div class="col-md-7 text-right">
				<a href="">Get to know us on here:</a><br><br>
				<a href="{{ theme.socialFacebookUrl }}" target="_blank"><i class="fa fa-facebook"></i></a>
				<a href="{{ theme.socialTwitterUrl }}"><i class="fa fa-twitter"></i></a>
				<a href="{{ theme.socialPinterestUrl }}"><i class="fa fa-pinterest"></i></a>
			</div>
		</div>
	
	</div>
</div>
