<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="nav-content">

    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
    <a href="/" class="navbar-brand"><img src="{{ 'img/logo.png'|theme_resource }}"></a>
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>


    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
      <li><a href="{{ site_url('about') }}">About</a></li>
      <!-- <li><a href="{{ site_url('shop') }}">Shop</a></li> -->
      <li><a href="{{ site_url('contact') }}">Contact</a></li>
      {% if customer %}
        <li><a href="{{ site_url('profile') }}"><i class="fa fa-user"></i> My Account</a></li>
        <!-- <li class="{{ active_page == 'orders' ? 'active' : null }}"><a href="{{ site_url('orders') }}">My Orders</a></li> -->
        <li class="{{ active_page == 'subscriptions' ? 'active' : null }}"><a href="{{ site_url('subscriptions') }}"><i class="fa fa-tag"></i> My Subscriptions</a></li>
        <li><a href="{{ site_url('logout') }}"><i class="fa fa-lock"></i> Logout</a></li>
      {% else %}
        <li><a href="{{ site_url('login') }}"><i class="fa fa-lock"></i> Login</a></li>
      {% endif %}
      <li id="mini-cart">  {{ partial('shop-minicart-totals') }}</a></li>
      {% if customer %}
        <li><a href="{{ site_url('checkout') }}">Checkout</a></li>
      {% else %}
        <li><a href="{{ site_url('checkout-start') }}">Checkout</a></li>
      {% endif %}
    </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
