{% if invalidHash %}
    <div class="alert alert-danger" role="alert">
        Invalid or expired password reset token.
    </div>
{% endif %}

{{ open_form({
    'data-ajax-handler': 'shop:passwordRestore', 
    'data-ajax-redirect' : '/login', 
    'data-validation-message' : ''
}) }}

    <input name="redirect" type="hidden" value="{{ root_url('/login') }}"/>
    <input name="passwordRestoreSubmit" type="hidden" value="1" />
    <input name="successMessage" type="hidden" value="Your password was updated successfully and you may now sign in with your new password.">

    <div class="form-group">
        <label for="password" class="control-label">Password</label>
        <input id="password" class="form-control" name="password" type="password">
        <span class="error small text-danger"></span>
    </div>

    <div class="form-group">
        <label for="password-confirm" class="control-label">Password (Confirmation)</label>
        <input id="password-confirm" class="form-control" name="passwordConfirm" type="password">
        <span class="error small text-danger"></span>
    </div>
    
    <div class="form-group">
        <button class="btn btn-primary" type="submit">Update Password</button>
    </div>

{{ close_form() }}

{{ partial('flash') }}
