---
description: 'Payment form partial for Braintree payment method'
---
<form method="post" action="" data-ajax-handler="shop:onPay">
  <div class="payment-card">
  <h4>Braintree</h4>
    <input type="hidden" value="{{  paymentMethod.id}}" name="payment_method_id">
    <div class="form">
        <div class="row">
        
          <div class="col-sm-6 form-group">
              <input autocomplete="off" name="cardholderName" value="" id="cardholderName" type="text" class="form-control" placeholder="Cardholder Name"/>
              <span class="error small text-danger"></span> 
              <label for="cardholderName">Cardholder Name</label>
          </div>
          <div class="col-sm-4 form-group">
              <input autocomplete="off" name="cardNumber" value="" id="cardNumber" type="text" class="form-control credit-card-input" placeholder="Credit Card Number"/>
              <span class="error small text-danger"></span> 
              <label for="cardNumber">Credit Card Number</label>
          </div>
          <div class="col-sm-2 form-group helper">
              <input autocomplete="off" name="securityCode" value="" id="securityCode" type="text" class="form-control" placeholder="Card Verification Value (CVV)"/>
              <span class="error small text-danger"></span> 
              <label for="securityCode">
                  (CVV)
              </label>
              <i class="fa fa-question" data-container="body" data-toggle="popover" data-placement="top" data-content="For MasterCard, Visa, and Discover, the CSC is the last three digits in the signature area on the back of your card. For American Express, it's the four digits on the front of the card."></i>
          </div>
          <div class="col-sm-3 form-group">
                <select name="expiryMonth" class="form-control">
                {% for i in 1..12 %}
                    <option value="{{ i }}">{{ i }}</option>
                {% endfor %}
                </select>
                <span class="error small text-danger"></span> 
                <label for="expiryMonth">Expiration Date - Month</label>
          </div>
          <div class="col-sm-3 form-group">
                <select autocomplete="off" name="expiryYear" id="expiryYear" class="form-control">
                    {% for i in 2014..2034 %}
                    <option value="{{ i }}">{{ i }}</option>
                    {% endfor %}
                </select>
                <span class="error small text-danger"></span> 
                <label for="expiryYear">Expiration Date - Year</label>
          </div>

          
        </div>
    </div>
    </div><!-- End .payment-card -->

  <div class="clearfix">
      <input type="hidden" name="saveCard" value="1" />
      <a class="btn btn-default pull-left" href="#" 
        data-ajax-handler="shop:checkout" 
        data-ajax-update="#checkout-page=shop-checkout, #checkout-progress=shop-checkout-progress, #mini-cart=shop-minicart"
        data-ajax-extra-fields="nextStep=shipping_method"><i class="fa fa-arrow-left"></i> Previous Step</a>
      <button type="submit" class="btn btn-important pull-right">Pay Now</button>
    </div>

</form>