<ul class="nav nav-tabs mb-4" id="myTab" role="tablist">
    <li class="nav-item">
        <a id="description-tab" class="nav-link active" data-toggle="tab" href="#description" role="tab" aria-controls="home" aria-selected="true">Description</a>
    </li>

    <li class="nav-item">
        <a id="product-details-tab" class="nav-link" data-toggle="tab" href="#product-details" role="tab" aria-controls="profile" aria-selected="false">Product Details</a>
    </li> 
    {% if theme.enableReviews %}
        
        {% set rating = product.rating() %}

        <li class="nav-item">
            <a id="reviews-tab" class="nav-link" data-toggle="tab" href="#reviews" role="tab" aria-controls="profile" aria-selected="false">Reviews ({{ rating.total_reviews }})</a>
        </li> 

        <li class="nav-item">
            <a id="write-review-tab" class="nav-link" data-toggle="tab" href="#write-review" role="tab" aria-controls="profile" aria-selected="false">Write a Review</a>
        </li> 

    {% endif %}


</ul>
            
<div class="tab-content">
    
    <div class="tab-pane active" id="description" role="tabpanel" aria-labelledby="description-tab">

        {{ product.description|unescape }}

    </div>

    <div class="tab-pane" id="product-details" role="tabpanel" aria-labelledby="product-details-tab">

					<div class="row">
	        	<div class="col-lg-4 col-md-12">
	            <ul class="product-attributes list-unstyled mb-4">

	                <h6>Product Attributes</h6>
	                {% for attribute in product.productAttributes %}


	                    <li><strong>{{ attribute.name }}:</strong> {{ attribute.value }}</li>

	                {% endfor %}

	                {% if product.sku %}
	                    
	                    <li><strong>SKU:</strong> {{ product.sku }}</li>

	                {% endif %}
	        			

	                {% if theme.enableManufacturers and product.manufacturer %}

	                    <li>
	                        <strong>Manufacturer:</strong>
	                        <a href="{{ site_url('/manufacturer/' ~ product.manufacturer.url_name) }}">{{ product.manufacturer.name }}</a>
	                    </li>
	                
	                {% endif %}

	            </ul>
	        	</div>
	        	<div class="col-lg-4 col-md-12">
			        {% if theme.enableDimensions %}

			        		<h6>Product Dimensions</h6>
									<table class="mb-4">
										<tr>
											<th class="pr-3">Height:</th>
											<th class="pr-3">Width:</th>
											<th class="pr-3">Depth:</th>
											<th class="pr-3">Weight:</th>
										</tr>
										<tr>
											<td>{{ product.height }}</td>
											<td>{{ product.width }}</td>
											<td>{{ product.depth }}</td>
											<td>{{ product.weight }}</td>
										</tr>
									</table>
			        {% endif %}
	        	</div>
	        	<div class="col-lg-4 col-md-12">
	        		{% if product.priceTiers.count %}
	        		    <div class="">
	        		      <h6>Bulk Pricing</h6>
	        		        <div>
	        		          {{ partial('shop-product-bulk-pricing')}}
	        		        </div>
	        		    </div>
	        		{% endif %}
	        	</div>
					</div>

    </div>

    {% if theme.enableReviews %}
        
        <div class="tab-pane" id="reviews" role="tabpanel" aria-labelledby="reviews-tab">

            {% for review in product.reviews() %}
                
                <div class="review">
                    <div class="review-rating" title="Rated {{ review.rating }} of 5">
                        {% for i in range(1, 5) %}
                            <span class="fa fa-star{{ i <= review.rating  ? ' active' : '' }}"></span>
                        {% endfor %}
                    </div>
                    
                    <div class="review-content">
                        <div class="review-header">
                            <h5>{{ review.title }}</h5>
                            <p>By {{ review.from_name }} on {{ review.created_at|date('M jS, Y') }}</p>
                        </div>
                        <div class="review-comments">
                            <p>{{ review.comment }}</p>
                        </div>
                    </div>
                </div>

            {% endfor %}

        </div>

        
        <div class="tab-pane" id="write-review" role="tabpanel" aria-labelledby="write-review-tab">
            
            {{ partial('shop-product-review-form') }}

        </div>

    {% endif %}


</div>  