<div class="col-md-6 text-center">
	<a href="/product/{{ product.url_name }}"><img src="{{ product.images.first.thumbnail('auto',500,{crop:true}) }}" alt="{{ product.name }}"></a>
	<h2 class="paragraph-overflow-text" style="max-width: 300%">{{ product.name }}</h2>
	<p>{{ product.price|currency }} {% if product.productType.name == 'Subscription' %}<sub>/mo</sub>{% endif %}</p>
	<hr>
	<p class="paragraph-overflow-text" style="max-width: 200%">{{ product.description|unescape }}</p><br>
	<a href="/product/{{ product.url_name }}" class="btn btn-important">I want this!</a>
</div>