<div class="reviews">
    <a id="reviews"></a>
    {% if product.reviews() %}
    	{% for review in product.reviews() %}
        	{{ partial('shop-product-review', {'review': review, 'product': product } ) }}
    	{% endfor %}
    {% else %}
    	<p>No product reviews</p>
    {% endif %}
</div>	

<div itemscope itemtype="http://schema.org/Review">
  <div itemprop="itemReviewed" itemscope itemtype="http://schema.org/{{ product.productType }}">
    <span itemprop="name">{{ product.name }}</span>
  </div>
  {% if review.rating %}
  <span itemprop="reviewRating" itemscope itemtype="http://schema.org/Rating">
    <span itemprop="ratingValue">{{ review.rating }}</span>
  </span> stars -
  {% else %}
  <p>No reviews yet</p>
  {% endif %}
  {% if review.title %}
  	"<b><span itemprop="name">{{ review.title }}</span></b>"
  {% endif %}
  <span itemprop="author" itemscope itemtype="http://schema.org/Person">
    <span itemprop="name">{{ review.from_name }}</span>
  </span>
  <span itemprop="reviewBody">{{ review.comment }}</span>
</div>