<h4 class="text-center">Your Cart</h4>
<br>
<div class="col-md-12">
    <div class="items-holder">
        
        {{ partial('shop-cart-items', {'edit_cart': true}) }}

    </div>

</div>
<div class="col-md-12">
    {% if cart.x_billing_plan_id %}
    <div class="col-md-4">
        <p>Subscription Plan</p>
        <span class="custom-dropdown">
            <select id="billing_plan" class="select_option" name="billing_plan"> 
                {% for plan in billingPlans %}
                    <option value="{{ plan.id }}" {{ option_state(plan.id, cart_billing_plan) }}>{{ plan.name }}</option>
                {% endfor %}
            </select>
        </span>
    </div>
    {% endif %}

    <div class="col-md-8 col-sm-12 col-xs-12" id="summary">
        {{ partial('shop-checkout-totals') }}
        <input type="text" class="form-control" id="coupon-code" name="coupon" placeholder="Coupon Code" value="{{ coupon_code }}" /><br><br>
        {{ flash() }}
        <a class="btn btn-default col-xs-12 btn-lg solid refresh-cart" href="#" data-ajax-handler="shop:cart" data-ajax-update="#cart-content=shop-cart-content, #mini-cart=shop-minicart-totals">Update Cart <i class="fa fa-refresh"></i></a><br><br>
        {% if customer %}
            <a class="col-xs-12 btn btn-important solid btn-lg" href="{{ site_url('/checkout') }}">Checkout</a>
        {% else %}
            <a class="col-xs-12 btn btn-important solid btn-lg" href="{{ site_url('/checkout-start') }}">Checkout</a>
        {% endif %}
    </div>
</div>
