<div class="row receipt-row">
  <div class="col-sm-3 col-xs-12" id="cart-img">
    <img src="{{ item.product.images.first.thumbnail('auto', 'auto') }}" alt="{{ item.product.name }}">
  </div>
  <div class="col-sm-9 col-xs-12">
    {% set options = item.optionsString() %}
        {% if options %}
          <a href="/product/{{ item.product.url_name }}">{{ item.product.name }}</a>
          <p class="h6">{{ options|unescape }}</p>
        {% else %}
          <p><a href="/product/{{ item.product.url_name }}">{{ item.product.name }}</a></p>
        {% endif %}
        <p class="receipt-info">
          Quantity: <span class="pull-right">
            {{item.quantity}} x {% if item.product.onSale() %}<s>{{ item.product.fullPrice()|currency }}</s>{% endif %} {{ item.original_price|currency }}
        </p>
        {% if (item.discount * item.quantity) > 0 %}
          <p class="receipt-info">Discount: <span class="pull-right cart-discount">- {{(item.discount * item.quantity)|currency}}</span></p>
        {% endif %}
        <p class="receipt-info">Total: <span class="pull-right">{{ item.total()|currency }}</span></p>
  </div>
</div>
