{{ open_form({'class': 'custom', 'onsubmit': 'return false'}) }}

    <header class="product-header mb-4">
        <h2>{{ product.name }}</h2>

        {{ partial('shop-product-rating', { 'include_count': true }) }}
        {{ partial('shop-product-price') }}

    </header>

    <div class="product-description mb-4">
        
            
            <p class="small">{{ product.short_description }}</p>
            <p>{{ product.description|unescape }}</p>

    </div>

    <ul class="product-attributes list-unstyled mb-4">

        {% for attribute in product.productAttributes %}

            <li><strong>{{ attribute.name }}:</strong> {{ attribute.value }}</li>

        {% endfor %}

        {% if product.sku %}
            
            <li><strong>SKU:</strong> {{ product.sku }}</li>

        {% endif %}
			

        {% if theme.enableManufacturers and product.manufacturer %}

            <li>
                <strong>Manufacturer:</strong>
                <a href="{{ site_url('/manufacturer/' ~ product.manufacturer.url_name) }}">{{ product.manufacturer.name }}</a>
            </li>
        
        {% endif %}

    </ul>

        {% if theme.enableDimensions %}
        		<h6>Product Dimensions</h6>
						<ul class="list-unstyled mb-4">
	    	    	<li><strong>Height:</strong> {{ product.height }}</li>
	    	    	<li><strong>Width:</strong> {{ product.width }}</li>
	    	    	<li><strong>Depth:</strong> {{ product.depth }}</li>
	    	    	<li><strong>Weight:</strong> {{ product.weight }}</li>
						</ul>
        {% endif %}

    {% if product.priceTiers.count %}
        <div class="">
          <h6>Bulk Pricing</h6>
            <div>
              {{ partial('shop-product-bulk-pricing')}}
            </div>
        </div>
    {% endif %}
	
		{% if theme.showStockAmount %}

    	<p><strong>In Stock Amount:</strong> {{ product.in_stock_amount }}</p>

    {% endif %}

    {% if 0 != product.extras|length %}
        {{ partial('shop-product-extras')}}
    {% endif %}

    {% if product.options.count %}

        <div class="product-options mb-4">
            <div class="row">

                {% for index, option in product.options %}

                    <div class="form-group col-md-6">
                        <label class="control-label" for="option-{{ loop.index }}">{{ option.name }}</label>
                        <select id="option-{{ loop.index }}" class="form-control custom-select" name="options[{{ option.id }}]">
        
                            {% for key, value in option.values %}
        
                                <option value="{{ key }}" {{ option_state(postedOptions[option.id], key) }}>{{ value }}</option>
        
                            {% endfor %}
        
                        </select>
                    </div>
        
                {% endfor %}

            </div>
        </div>

    {% endif %}


    {% if product.enabled %}
        
        {% if not product.isOutOfStock() or product.allow_preorder %}
        
            <input name="productId" type="hidden" value="{{ product.id }}">                    

            {% if product.subscriptionPlans|length %}
                <div class="row">
                    <div class="form-group col-lg-6">                    
                        <label class="control-label" for="product_billing_plan">Billing Plan</label>
                        <select class="form-control custom-select" name="product_billing_plan">
                            {% for plan in product.subscriptionPlans %}
                                <option value="{{ plan.id }}" {{ option_state(plan.id, cart_billing_plan) }}>{{ plan.name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
            {% endif %}

            <hr>

            <div class="product-actions">        

                {% if theme.enableQuantity %}

                    <div class="product-quantity">
                        <button class="btn" data-delta="-1">-</button>
                        <input id="quantity" class="form-control" name="quantity" type="text" value="{{ quantity|default('1') }}" readonly>
                        <button class="btn" data-delta="1">+</button>
                    </div>

                {% else %}

                    <input name="quantity" type="hidden" value="1">

                {% endif %}
                
                <a class="btn btn-primary" href="{{ root_url('/cart') }}" 
                    data-ajax-handler="shop:onAddToCart"
                    data-ajax-update=".minicart=shop-minicart, .minicart-content=shop-minicart-content, .minicart-counter=shop-minicart-counter,#product-content=shop-product-content">
                    {{ theme.addToCart }}
                </a>
            </div>  
                                 

        {% else %}
            
            <p class="alert alert-light">Sorry! This product is temporarily unavailable.</p>

        {% endif %}

    {% else %}

            <p>This product is not currently available.</p>

    {% endif %}

    {{ partial('flash') }}

{{ close_form() }}
