{% if product.extras.count %}
  <h6>Product Extras</h6>
    {% for index, extra in product.extras %}
        <div class="extra">
            <label class="title" for="{{ 'extra-'~index }}"><strong>{{ extra.name }}</strong>: ({{ extra.price|currency }})</label>
            {% if extra.enabled %}
                <input type="checkbox" id="{{ 'extra-'~index }}" {{ checkbox_state(postedExtras[extra.id], extra.id) }} name="extras[{{ extra.id }}]" data-ajax-handler="shop:product" data-ajax-update="#shop-product=shop-product">
            {% else %}
                <input type="checkbox" disabled="disabled">
            {% endif %}
        </div>
    {% endfor %}
{% endif %}