{% for item in items %}
	<div class="row" id="checkout-row">
		<div class="col-sm-3 col-xs-12" id="cart-img" style="padding:0;">
			<img src="{{ item.product.images.first.thumbnail('auto', 'auto') }}" alt="{{ item.product.name }}">
		</div>
		<div class="col-sm-9 col-xs-12" style="padding-right:0px;">
			<a href="/product/{{ item.product.url_name }}">{{ item.product.name }}</a><br>
			{% set options = item.optionsString() %}
	        {% if options %}
	            <p class="h6">{{ options|unescape }}</p>
	        {% endif %}
	        <p class="small">
	        	Quantity: <span class="pull-right">
	        		{{item.quantity}} x {% if item.product.onSale() %}<s>{{ item.product.fullPrice()|currency }}</s>{% endif %} {{ item.price()|currency }}
	        </p>
	        {% if item.totalDiscount() > 0 %}
	        	<p class="small">Discount: <span class="pull-right cart-discount">- {{item.totalDiscount()|currency}}</span></p>
	        {% endif %}
	        <p class="small">Total: <span class="pull-right">{{ item.total()|currency }}</span></p>
		</div>
	</div>
{% endfor %}
