{{ open_form({'data-ajax-handler': 'shop:updateStoredCard', 'class': 'custom', 'data-ajax-update': '#profile-addresses=shop-customerprofile', 'data-validation-message' : ''}) }}
{{ flash() }}
<div class="row">
  <div class="content twelve columns">
    {% if not paymentMethod %}
        <p>There are no payment methods that support stored credit cards.</p>
    {% else %}
        {{ flash() }}
        <div id="payment_form">
            {% set name = paymentMethod.getFrontendStoredCardPartialName() %}
            {{ partial(name, {paymentMethod: paymentMethod}) }}
        </div>
    {% endif %}
  </div>
</div>
</form>