<p id="title-p-d">Order Summary</p>
<ul class="price-list list-group">
    {% if cart.getTotal() > 0 %}
        {% set cartTotalNoTax = cart.getTotal() - cart.getTotalTax() %}
        <li class="list-group-item">Item Total: <div class="pull-right">{{ cartTotalNoTax|currency }}</div></li>
    {% endif %}
    {% set discount = totals.discountTotal %}
    {% if cart.getTotal() > 0 %}
        {% for plan in billingPlans %}
            {% if cart_billing_plan == plan.id %}
                {% if '%' in plan.setup_fee_or_percentage %}
                    {% set fee = plan.setup_fee_or_percentage|trim('%') * cartTotalNoTax / 100 %}
                {% else %}
                    {% set fee = plan.setup_fee_or_percentage %}
                {% endif %}
                <li class="list-group-item">Subscription Signup: <div class="pull-right">{{ fee|currency }} </div></li>
                {% set subDiscount = (plan.discount_percentage|trim('%') * (cartTotalNoTax + fee - totals.discountTotal) / 100) %}
                {% set discount = totals.discountTotal + subDiscount %}
            {% endif %}    
        {% endfor %}
    {% endif %}
    {% if totals.totalShippingQuote > 0 %}
        <li class="list-group-item">Shipping: <div class="pull-right">{{ totals.totalShippingQuote|currency }}</div></li>
    {% endif %}
        {% if totals.totalTax > 0 %}
    <li class="list-group-item">Tax:<div class="pull-right">{{ totals.totalTax|currency }}</div></li>
    {% endif %}
    {% if discount > 0 %}
        <li class="list-group-item">Discount: <div class="pull-right cart-discount">- {{ discount|currency }}</div></li>
    {% endif %}
    <li class="list-group-item important">Total: <div class="pull-right">{{ totals.total|currency }}</div></li>
</ul>
