{{ code_block('setup') }}

<meta charset="utf-8">
<meta name="description" content="{{ page.description }}">
<meta name="keywords" content="{{ page.keywords }}">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>{{ page.title }} | {{ theme.storeTitle }}</title>

<link rel="shortcut icon" href="{{ theme.faviconImage.thumbnail('auto', 'auto') }}" type="image/png">
<link rel="icon" href="{{ theme.faviconImage.thumbnail('auto', 'auto') }}" type="image/png">

<!-- Google Fonts -->
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Hind:300,400,500,600,700|Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i">

<!-- Stylesheets -->
<link rel="stylesheet" href="/cms/lemonstand.css">
<link rel="stylesheet" href="{{ 'css/main.css'|theme_resource }}">
<link rel="stylesheet" href="{{ 'css/custom.css'|theme_resource }}">

{% if globals.redirect %}
    <style>body { display: none !important; }</style>
    <script>window.location = '{{ globals.redirect }}';</script>
{% endif %}

{% if page_code() == 'blog-post' %}
    <meta property="og:url" content="{{ post.permalink|url_encode }}" />
    <meta property="og:type" content="article" />
    <meta property="og:title" content="{{ post.title }}" />
    <meta property="og:description" content="{{ post.excerpt | unescape }}" />
    <meta property="og:image" content="{{ post.featured_image.thumbnail('auto', 'auto') }}" />
{% elseif page_code() == 'product' %}
    <meta property="og:url" content="{{ site_url('/') }}{{ '/product/' ~ product.url_name }}" />
    <meta property="og:type" content="product" />
    <meta property="og:title" content="{{ product.name }}" />
    <meta property="og:description" content="{{ product.short_description }}" />
    <meta property="og:image" content="{{ item.product.images.first.thumbnail('auto', 'auto') }}" />
{% else %}
		<meta property="og:url" content="{{ site_url('/') }}" />
		<meta property="og:type" content="page" />
		<meta property="og:title" content="{{ page.title }}" />
		<!-- <meta property="og:description" content="{{ product.short_description }}" /> -->
		<meta property="og:image" content="{{ theme.logo.thumbnail('auto', 'auto') }}" />
{% endif %}


<!-- Theme Scripts -->
<script src="{{ 'js/main.js'|theme_resource }}"></script>
<script src="{{ 'js/custom.js'|theme_resource }}"></script>