html{
	background: #f0f0e8;
	background:white;
}
body{
	font-family: 'Lato', sans-serif;
	margin: 0 auto;
	padding-top: 90px;
}
.full-jumbotron{
	width:100%;
}
.jumbotron{
	
	background:white;

	border-bottom:1px solid #f1f1f1;
	
}
.row {
	margin-left: 0px;
	margin-right: 0px; 
}
.jumbotron p{
	font-weight:400;
	color: #757575;
	font-size: 14px;
}
.jumbotron h2{
	font-size: 27px;
	color: #4A4A4A;
	padding-bottom:10px;
}
.list-group-item{
	border:none;
	border-top:1px solid #f1f1f1;
}
/*======================================================
		Custom Components
======================================================*/
.no-padding{
	padding:0 ;
}
.no-pad-left{
	padding-left:0;
}
.no-pad-right{
	padding-right:0;
}
.text-box{
	padding:20px;
	background:#5f6062;
	color: white;
	text-transform: uppercase;
	font-size: 1.3em;
}
hr{
	width:80px;
	margin-left:0;
	border-top:3px solid white;
}
sup{
	font-size: 20px;
	top:-1.4em;
}
.space-bottom{
	padding-bottom:40px;
}
.no-border{
	border:none;
}
.uppercase{
	font-size:12px;
	text-transform: uppercase;
	letter-spacing: 1px;
}


/*======================================================
		Navigation
======================================================*/
.navbar{
	background:rgba(255, 255, 255, 0.8);
	border-bottom:1px solid #f1f1f1;
	width: 100% ;
	margin: 0 auto;
	border-radius:0 ;
	padding: 20px 0;
}
.nav-content{
	max-width:1411px;
	margin:0 auto;
}

.navbar-collapse a{
	color:#333;
	border-bottom:1px solid rgba(255,255,255,0);
	background:none;
}
.navbar-collapse a:visited{
	color:#333;
	border-bottom:1px solid white;
}
.navbar-collapse a:hover, .navbar-collapse a:focus{
	color: #aaa;
	border-bottom:1px solid #333;
	background:none;
}
.nav>li>a:hover, .nav>li>a:focus{
	background:none;
}
.brand-box{
	width:100px;
	height:100px;
	padding:20px;
	background:blue;
	position:fixed;
	top:0;
	left:50px;
	z-index:1050;
}
.navbar-brand{
	padding-top:0;
}
.navbar-brand img{
	height:52px;
}
/*======================================================
		Navigation
======================================================*/
.footer{
	border-top:1px solid #f1f1f1;
	margin-top:50px;
	background:#494c50;
}
.footer .jumbotron{
	background:#494c50;
	padding-top: 70px;
	padding-bottom:80px;
}
.footer a{
	color: white;
	text-transform: uppercase;
	letter-spacing: 1px;
	display:block;
	font-weight:200;
	padding-bottom:10px;
}
.footer .col-md-7 a{
	display:inline-block;

	padding:0 10px;
}
/*======================================================
		Home
======================================================*/
.home-head{
}
/*====================================================== TOP */
.header-home-left{
	height: 600px;
	padding-top: 50px;

	background: #e5e3d7;
	background:#565353;
	background:#F0EFE8;
	background:white;
	background: url('../img/bgmain.jpg') no-repeat center center;
	background-size:cover;
	-webkit-background-size:cover;
	-moz-background-size:cover;
}
.header-home-left img{
	width:40%;
}
.buffer{
	text-align:center;
	color:#333;
	font-weight:700;
	font-size:30px;
	opacity: 0.8;
	padding:0px 0 0 0 ;

}
.header-home-left h1{
	font-weight:700;
	font-size: 80px;
	color:#565353;
}
.header-home-left p{
	font-weight:300;
	color:#5f6062;
	letter-spacing: 1px;
}
.header-home-right{
	height: 500px;
	border-left: 10px solid white;
	background: url('https://unsplash.imgix.net/uploads/141132428651583f8c0fd/5cde60f6?q=75&fm=jpg&s=d718f49ab2c3e08899e5ced1c75fcd8c') no-repeat center bottom;
	background-size:cover;
	-webkit-background-size:cover;
	-moz-background-size:cover;
}

/*====================================================== Featured collection */
.featured{
	background: white;
}
.feature-item{
	padding: 20px;
	position: relative;
}
.feature-item:hover .item-detail{
	opacity:1;
	pointer-events:none;
}

.feature-item img{
	width:100%;
	height: auto;
}
.item-detail{
	position: absolute;
	width:83%;
	margin:0 4%;
	height:76%;
	top:12%;
	background:rgba(255,255,255,0.95);
	text-align: center;
	padding-top:10%;

	opacity:0 ;
	pointer-events:auto;
	transition: 0.2s all ease-in-out;
	-webkit-transition: 0.2s all ease-in-out;
	-moz-transition: 0.2s all ease-in-out;
}
.item-detail h2{
	color: #5f6062;
	font-weight:400;
	text-transform: uppercase;
	font-size:15px;
	letter-spacing: 1px;
}
.item-detail hr{
	width:40px;
	margin: 0 auto;
	border-top:2px solid #5f6062;
}
.item-detail p{
	color: #5f6062;
	font-weight:400;
	text-transform: uppercase;
	font-size:17px;
	padding-top:20px;
}
/*====================================================== Pricing bar */
.pricing-bar{
	background: white;
}
.pricing-box{
	border:1px solid #f1f1f1;
	padding:20px;
}
.pricing-box .col-md-6{
	text-align: center;
	padding-bottom: 20px;
}
.pricing-box .col-md-6 img{
	width: 70%;
	margin: 0 auto;
}
.pricing-box .title{
	position:absolute;
	padding: 0 10px;
	background:white;
	max-width:130px;
	top:-13px;
	color:#565353;
	left:0;
	right:0;
	margin:0 auto;
	font-size:18px;
}
.pricing-box hr{
	width:20px;
	margin: 0 auto;
	border-top: 3px solid #5f6062;
	padding-bottom:20px;
}

/*====================================================== About bar */
.about-bar{

}
.about-bar img{
	width:100%;
}
.about-bar .col-md-5{
	padding:0 40px;
	text-align:left;
}
.about-bar .col-md-5 img{
	width:80%;
	margin:0 auto;
	text-align: center;
	padding-bottom:30px;
	padding-top:30px;
}

/*======================================================
		shop-product
======================================================*/
.shop-product .col-md-5{
	text-align: left;
}
.shop-product h1{
	font-size:16px;
	text-transform: uppercase;
	letter-spacing: 1px;
}
.shop-product h3{
	color: #A1A1A1;
}
.shop-product .col-md-3{
	padding:0;
	margin-top:10px;
}
.shop-product .col-md-3 img{
	padding: 10px;
}
.shop-product .main-img{
	padding-left:10px;
}
.img-thumb img{
	width:100%;
}
.small-thumb:hover{
	cursor:pointer;
}
.previous-price{
	text-decoration: line-through;
}
.product-attributes th, .product-attributes td{
	color: #989A9C;
	font-weight:400;
}
.product-options{
	margin-bottom:20px;
}
.product-options select{
	-webkit-appearance:none;
	border-radius:0;
	background:white;
	border:3px solid #ddd;
	width:100%;
	padding:10px;
	font-weight:400;
	color:#989A9C;
	outline:none;
}
/*#billing_plan, #subscription_status*/
.custom-dropdown{
	margin:0;
	padding:0;
}
.custom-dropdown select{
	border-radius:0;
	background:white;
	border:3px solid #ddd;
	width:100%;
	padding:10px;
	font-weight:400;
	color:#989A9C;
	margin-bottom:20px;
	outline:none;
	display:inline-block;
	-webkit-appearance:none;
	-moz-appearance:none;
}
/* Custom dropdown */
.custom-dropdown {
  position: relative;
  display: inline-block;
  vertical-align: middle;
}

.custom-dropdown::before,
.custom-dropdown::after {
  content: "";
  position: absolute;
  pointer-events: none;
}

.custom-dropdown::after { /*  Custom dropdown arrow */
  content: "\F078";
  font-family:FontAwesome;
  height: 1em;
  font-size: 1em;
  line-height: 1;
  right: 1.2em;
  top: 35%;
  color:#989A9C;
  margin-top: -.5em;
}
sub{
	bottom:0;
}

.product-options p{
	width: auto;
}
/*======================================================
		about page
======================================================*/
.about .header-home-left{
	height:300px;
	padding-top: 70px;
}
.about h1, .contact h1{
	color: white;
	font-weight: 700;
	font-size: 80px;
}
.people .col-md-4 img{
	width:80%;
}
.people hr{
	width:20px;
	margin: 0 auto;
	border-top: 3px solid #5f6062;
	padding-bottom:20px;
}

/*======================================================
		shop page
======================================================*/
.shop-flex {
	display: -webkit-flex;
	display: flex;
	-webkit-flex-wrap: wrap;
	flex-wrap: wrap;
}
.shop-flex-item {
	display: flex; 
	padding: 0.5em;
	width: 100%;
}
.shop-list-content {
	display: flex;
	flex-direction: column;
}
.shop-product-description {
	flex: 1 0 auto;
}
	
@media all and (min-width: 40em) {
  .shop-flex-item {
    width: 50%;
  }
}
@media all and (min-width: 60em) {
  .shop-flex-item {
    width: 33.33%;
  }
}
.pagination > ul {
	list-style-type: none;
	display: flex;
	display: -webkit-flex;
}
.pagination > ul > li {
	display: flex;
}
.pagination > ul > li > a {
	display: inline-block;
	padding: 6px 12px;
	color: #494c50;
	margin-bottom: 0;
	font-size: 14px;
	font-weight: 400;
	line-height: 1.42857143;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	background-image: none;
	border: 1px solid #494c50;
	border-radius: 4px;
}
.pagination > ul > li.active > a {
	background: #dedede;
}
.cat-list{
	padding-left:50px;
	padding-top:50px;
}
.cat-list #dropdownMenu1{
	border-radius:0;
	background:white;
	border:1px solid #f1f1f1;
	margin-bottom:30px;
	outline:none;
}
.dropdown-menu{
	margin-top:-40px;
	border-radius:0;
	border:1px solid #f1f1f1;
	-webkit-box-shadow:none;
	box-shadow: none;
	opacity:0;
	display:block;
	pointer-events:none;
	transition:0.2s all ease-in-out;
	-webkit-transition:0.2s all ease-in-out;
	-moz-transition:0.2s all ease-in-out;
}
.dropdown-menu p{
	margin-bottom:0;
}
.open>.dropdown-menu{
	margin-top:-30px;
	opacity:1;
	pointer-events:auto;
}


/*======================================================
		Contact page
======================================================*/
.contact-head{
	height: 300px;
	padding-top: 50px;

	background: #e5e3d7;
	background:#565353;
	background:#F0EFE8;
	background:white;
	background: url('../img/contact.jpg') no-repeat center center;
	background-size:cover;
	-webkit-background-size:cover;
	-moz-background-size:cover;
}
#contact-form input, #contact-form textarea{
	margin-bottom:10px;
	border:1px solid #CCCCCC;
	border-radius:0;
	box-shadow:none;
	-webkit-box-shadow:none;
}
.contact-forms .btn-important{
	background:white;
	width:100%;
	margin-top:20px;
}


/*======================================================
		Buttons
======================================================*/

.form-group label{
	font-weight:400;
	font-size:1em;
	padding-bottom:5px;
	color:;
}
.form-group input{
	margin-bottom:10px;
	border:1px solid #CCCCCC;
	border-radius:0;
	box-shadow:none;
	-webkit-box-shadow:none;
}
.form-control:focus{
	border-color:#333;
	box-shadow:none;
	-webkit-box-shadow:none;
}
.btn-important, #btn-important{
	border:3px solid #494c50;
	border-radius:0;
	color:#494c50;
	margin-top:5px;
	background:white;
}
.btn-important:hover{
	background:#494c50;
	color:white;
}
.btn-default{
	border-radius:0;
	border:3px solid #f1f1f1;
}
.btn-important-special {
    border:3px solid #494c50;
    border-radius:0;
    color:#494c50;
    background:white;
}


/*======================================================
		Subscription
======================================================*/
#subscription-row{
	-webkit-appearance:none;
	border-radius:0;
	background:white;
	border:3px solid #ddd;
	width:80%;
	margin: 0 auto;
	padding:10px;
	padding-bottom:0;
	font-weight:400;
	color:#989A9C;
	margin-bottom:20px;
	transition:0.2s all ease-in-out;
	-webkit-transition:0.2s all ease-in-out;
	-moz-transition:0.2s all ease-in-out;
}
#subscription-row-full{
	-webkit-appearance:none;
	border-radius:0;
	background:white;
	width:100%;
	margin: 0 auto;
	padding:10px;
	padding-bottom:0;
	font-weight:400;
	color:#989A9C;
	margin-bottom:20px;
	transition:0.2s all ease-in-out;
	-webkit-transition:0.2s all ease-in-out;
	-moz-transition:0.2s all ease-in-out;
}
#subscription-row:hover{
	background:#ddd;
	color:#333;
}
.strong{
	font-weight:bold;
	padding-right:2px;
}

/*============================================
     CART STYLES
=============================================*/
#cartt{
  padding-top:0;
}
#quantity{
  box-shadow: none;
  border-style:solid;
  border-color:rgba(0,0,0,0.3);
}
#shipping-info{

}
.disabled{
  pointer-events:none;
  background-color:#eee;
}
#shipping-enabled{

}
#mobile-cart{
  display: none;
}
#normal-cart{
}
#cart-items{
  padding:10px;
  font-size:0.8em;
  color:rgba(0,0,0,0.4);
}
#cart-img img{
  width:100%;
  height:auto;
}
#item-middle{
  padding-left:0;
}
#cart-row{
  border:none;
  min-height:150px;
  padding-top:10px;
  padding-bottom:10px;
  margin-bottom:10px;
  position:relative;
}

#align-middle{
  padding:0;
  padding-top:4%;
}

#cart-row input{
  width:50px;
}

#cart-row a{
  color:rgba(0,0,0,0.5);
  margin-bottom:10px;
  padding-bottom:10px;
}

#summary{
  padding-top:50px;
  border-radius:0;
  float:right;
}
#summary li{
  border-radius:0;
}
#summary a{
  border-radius:0;
}

#summary .btn-default{
  margin-top:5px;
}
.form-control::-webkit-input-placeholder {
   color: #D4D4D4;
}

.form-control:-moz-placeholder { /* Firefox 18- */
   color: #D4D4D4;
}

.form-control::-moz-placeholder {  /* Firefox 19+ */
   color: #D4D4D4;
}

.form-control:-ms-input-placeholder {
   color: #D4D4D4;
}

#coupon{
  padding:0;
}

.panel{
  -webkit-box-shadow:none;
  box-shadow:none;
}

.credit-card-input{
  background-image: url(../img/cards.jpg);
  background-position:2px 2px;
  background-size:45px 280px;
  background-repeat:no-repeat;
  padding-left:55px;
}
.defaultPosition{
  background-position:2px 2px;
}
.va{
  background-position:2px -40px;
}
.ma{
  background-position:2px -124px;
}
.mb{
  background-position:2px -166px;
}
.d{
  background-position:2px -208px;
}
.a{
  background-position:2px -250px;
}


/*======================================================
		checkout
======================================================*/
.user-id{
	padding:10px;
	background: #F0FCFF;
	margin:20px 0;
	margin-top:0;
}
/*The checkout tabs styles*/
.checkout-tab-bar{
  background: #f1f1f1;
  padding: 10px;
  display:inline-block;
  width:100%;
  margin:0;
}
.checkout-tab p{
  padding: 0;
  margin: 0;
}
.checkout-tab .subtotal{
  padding: 0;
  margin: 0;
  padding-top:10px;
  border-top:1px solid #f1f1f1;
}
.checkout-tab row{
  margin: 0;
}
.checkout-tab .status{
  color: #333;
  text-rendering: geometricPrecision;
  text-transform: uppercase;
  font-size: 12px;
  margin-left: 0;
}
.checkout-tab .goback-icon{
  color: #67966B;
}
.checkout-arrow{
  float:left;
}.checkout-arrow:hover{
  cursor:pointer;
}
#cart-row a{
  color:black;
}
#cart-row .h6{
  color:rgba(0,0,0,0.5);
}
.checkout-content{
  display: none;
  transition: 0.3s all ease-in-out;
  -moz-transition: 0.3s all ease-in-out;
  -webkit-transition: 0.3s all ease-in-out;
}
.checkout-open{
  display: block;
}
#shop-checkout-payment-method{
  padding-top:20px;
}
#payment-method .custom-radio{
  margin-right:10px;
}
#cart-img img{
  width:100%;
}
#checkout-row{
	padding-top:40px;
}
#checkout-row #title-p-d{
  padding:20px 0;
  padding-left:15px;
}
#checkout-row .form-control{
  border-radius:0;
  box-shadow: none;
  -webkit-box-shadow:none;
}

#title-p-d .btn-form-mirror:hover{
  cursor:pointer;
}
#title-p-d .btn-form-mirror:focus{
  outline:none;
  color:#333;
  color: rgba(0, 0, 0, 0.498039);
  text-decoration: none;
}

#title-p-d .btn-form-mirror:visited{
  outline:none;
  color:#333;
  color: rgba(0, 0, 0, 0.498039);
  text-decoration: none;
}

#address-form, #shop-checkout-shipping-method{
  padding:30px 0 ;
}

#cart-row{
  margin:0;
  padding:0;
  min-height:110px;
}

#shop-checkout-shipping-method{
  margin:0;
}
#check-box{
  top:-2px;
}
#shipping-methods tr{
  display:inline-block;
  margin-top:20px;
  margin-right:20px;
  padding:20px;
  border:1px solid #f1f1f1;
}
#shipping-methods tr input{
  display:block;
  margin:10px auto;
}
#shipping-methods tr .narrow{
  display:block;
  text-align: center;
}
#previous-shipping-method {
	margin-top:5px;
	margin-bottom:5px;
}
#previous-shipping-address {
	margin-top:5px;
}
.popover{
  min-width:500px;
}

.payment-button{
  background:#5cb85c;
  border:none;
  border:0;
}

.goback-tab:hover{
  cursor:pointer;
  color:#67966B;
  text-decoration: none;
}
.goback-tab{
  color:#67966B;
  text-decoration: line-through;
}
 .goback-icon{
  color:#67966B;
 }
.payment-card .fa-question:hover{
  cursor: pointer;
}

.hide-desktop{
  display:none;
}
.show-desktop{
  display:inline-block;
}
.hide-mobile{
  display:block;
}
.show-mobile{
  display:inline-block;
}
.navbar-default .navbar-toggle:focus{
  background:white;
}
@media screen and (max-width: 991px) {
  .text-right{
    text-align: left;
  }
  .status{
    margin-top:10px;
  }
  .checkout-tab{
    margin-top:10px;
  }
  #shop-cart #cart-row {
    margin-top:10px;
    border:none;
  }
  #shop-cart #cart-row .col-sm-10{
    text-align: left;
    padding:0;
  }
  #shop-cart p{
    text-align: left;
  }
  #cart-img{
    text-align:center;
  }
  #cart-img img{
    width:80%;
    padding-bottom: 20px;
  }
  .hide-desktop{
    display:block;
  }
  .show-desktop{
    display:none;
  }
  .hide-mobile{
    display:none;
  }
  .show-mobile{
    display:block;
  }
  .checkout-tab-bar{
    margin-top:10px;
  }
}
@media screen and (max-width: 767px){
  #cart-img img{
    width:20%;
    padding-bottom: 20px;
  }
}
@media screen and (max-width: 480px) {
  .text-right{
    text-align: center;
  }
  .status{
    margin-top:10px;
  }
  .checkout-tab{
    margin-top:10px;
  }
  #shop-cart #cart-row {
    margin-top:10px;
  }
  #shop-cart #cart-row .col-sm-10{
    text-align: left;
    padding:10px 0;
  }
  #shop-cart p{
    text-align: left;
  }
  #cart-img img{
    width:40%;
    padding-bottom: 20px;
  }
  .hide-desktop{
    display:block;
  }
  .show-desktop{
    display:none;
  }
  .hide-mobile{
    display:none;
  }
  .show-mobile{
    display:inline-block;
  }
  .btn-important, .btn-default{
  	width:100%;
  }
}


/*======================================================
		Credit Card
======================================================*/
.credit-card-input{
  background-image: url(../img/cards.jpg);
  background-position:2px 2px;
  background-size:45px 280px;
  background-repeat:no-repeat;
  padding-left:55px;
}
.defaultPosition{
  background-position:2px 2px;
}
.va{
  background-position:2px -40px;
}
.ma{
  background-position:2px -124px;
}
.mb{
  background-position:2px -166px;
}
.d{
  background-position:2px -208px;
}
.a{
  background-position:2px -250px;
}

.payment-card{
  margin:0 auto;
  border-radius:4px;
  border:1px solid #ccc;
  padding:50px;
  padding-bottom:50px;
}
.payment-card .row{
  padding-top:0;
  padding-bottom:0;
}
/*======================================================
		Placeholder styles
======================================================*/
.form-group input::-webkit-input-placeholder{
	color:#D1D1D1;
}
.form-group input::-moz-placeholder{
	color:#D1D1D1;
}
.form-group input::-ms-input-placeholder{
	color:#D1D1D1;
}
.btn-form-mirror{
	color:#333;
	text-decoration: underline;
}
.btn-form-mirror:hover, .btn-form-mirror:visited{
	color:black;
}

.disabled{
  pointer-events:none;
  background-color:#eee;
}



.success{
  background: #333;
  padding: 4px;
  color: white;
  font-style: italic;
  text-transform: uppercase;
  animation: fadeOut 1s;
  -moz-animation: fadeOut 1s;
  -webkit-animation: fadeOut 1s;
  -o-animation: fadeOut 1s;

  animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards;
  -o-animation-fill-mode:forwards;

  animation-delay:2s;
  -moz-animation-delay:2s;
  -webkit-animation-delay:2s;
  -o-animation-delay:2s;

}
@keyframes fadeOut {
    0% {
        opacity:1;
    }
    100% {
        opacity:0;
    }
}
@-moz-keyframes fadeOut {
    0% {
        opacity:1;
    }
    100% {
        opacity:0;
    }
}
@-webkit-keyframes fadeOut {
    0% {
        opacity:1;
    }
    100% {
        opacity:0;
    }
}
@-o-keyframes fadeOut {
    0% {
        opacity:1;
    }
    100% {
        opacity:0;
    }
}

#loading-indicator {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index:999999;
}





@media screen and (max-width: 480px) {
/*======================================================
		Navigation
======================================================*/
.navbar-inverse .navbar-toggle{
	border:none;
	border-color:white;
	border-radius:0;
}
.navbar-inverse .navbar-toggle .icon-bar{
	background-color:#333;
}
.navbar-inverse .navbar-toggle:hover .icon-bar{
	background-color:#fff;
}
/*======================================================
		Home
======================================================*/
/*====================================================== TOP */
.header-home-left{
	height: 300px;
	padding-left:0;
}
.header-home-left img{
	width:80%;
}
.header-home-left h1{
	font-size:55px;
}
/*====================================================== Pricing bar */
.pricing-box .col-md-6{
	text-align: center;
	padding-bottom:40px;
}
/*======================================================
		shop-product
======================================================*/
.shop-product .col-md-5{
	text-align: left;
}
.shop-product h1{
	font-size:16px;
	text-transform: uppercase;
	letter-spacing: 1px;
}
.shop-product h3{
	color: #A1A1A1;
}
.shop-product .col-md-3{
	padding:0;
	margin-top:10px;
}
.shop-product .col-md-3 img{
	padding: 10px;
}
.shop-product .main-img{
	padding-left:10px;
}
.img-thumb img{
	width:100%;
}
.small-thumb:hover{
	cursor:pointer;
}
.previous-price{
	text-decoration: line-through;
}
.product-attributes th, .product-attributes td{
	color: #989A9C;
	font-weight:400;
}
.product-options{
	margin-bottom:20px;
}
.product-options select{
	-webkit-appearance:none;
	border-radius:0;
	background:white;
	border:3px solid #ddd;
	width:100%;
	padding:10px;
	font-weight:400;
	color:#989A9C;
	outline:none;
}
/*#billing_plan, #subscription_status*/
.custom-dropdown{
	margin:0;
	padding:0;
	width:100%;
}
.custom-dropdown select{
	border-radius:0;
	background:white;
	border:3px solid #ddd;
	width:100%;
	padding:10px;
	font-weight:400;
	color:#989A9C;
	margin-bottom:20px;
	outline:none;
	display:inline-block;
	-webkit-appearance:none;
	-moz-appearance:none;
}
/* Custom dropdown */
.custom-dropdown {
  position: relative;
  display: inline-block;
  vertical-align: middle;
}

.custom-dropdown::before,
.custom-dropdown::after {
  content: "";
  position: absolute;
  pointer-events: none;
}

.custom-dropdown::after { /*  Custom dropdown arrow */
  content: "\F078";
  font-family:FontAwesome;
  height: 1em;
  font-size: 1em;
  line-height: 1;
  right: 1.2em;
  top: 35%;
  color:#989A9C;
  margin-top: -.5em;
}
sub{
	bottom:0;
}
/*======================================================
		about page
======================================================*/
.about h1, .contact h1{
	color: white;
	font-weight: 700;
	font-size: 55px;
}
/*======================================================
		shop page
======================================================*/
.shop{
	max-width:;
}
.cat-list{
	padding-left:50px;
}
.cat-list #dropdownMenu1{
	border-radius:0;
	background:white;
	border:1px solid #f1f1f1;
	margin-bottom:30px;
	outline:none;
}
.dropdown-menu{
	margin-top:-40px;
	border-radius:0;
	border:1px solid #f1f1f1;
	-webkit-box-shadow:none;
	box-shadow: none;
	opacity:0;
	display:block;
	pointer-events:none;
	transition:0.2s all ease-in-out;
	-webkit-transition:0.2s all ease-in-out;
	-moz-transition:0.2s all ease-in-out;
}
.dropdown-menu p{
	margin-bottom:0;
}
.open>.dropdown-menu{
	margin-top:-30px;
	opacity:1;
	pointer-events:auto;
}


/*======================================================
		Contact page
======================================================*/
.contact-head{
	height: 300px;
}
#contact-form input, #contact-form textarea{
	margin-bottom:10px;
	border:1px solid #CCCCCC;
	border-radius:0;
	box-shadow:none;
	-webkit-box-shadow:none;
}
.contact-forms .btn-important{
	background:white;
	width:100%;
	margin-top:20px;
}
#big-thumb{
	display:none;
}

/*======================================================
		Buttons
======================================================*/
.btn-important{
	border:3px solid #494c50;
	border-radius:0;
	color:#494c50;
	background:white;
}
.btn-important:hover{
	background:#494c50;
	color:white;
}
.btn-default{
	border-radius:0;
	border:3px solid #f1f1f1;
}
.form-group label{
	font-weight:400;
	font-size:1em;
	padding-bottom:5px;
	color:;
}
.form-group input{
	margin-bottom:10px;
	border:1px solid #CCCCCC;
	border-radius:0;
	box-shadow:none;
	-webkit-box-shadow:none;
}
.form-control:focus{
	border-color:#333;
	box-shadow:none;
	-webkit-box-shadow:none;
}


/*======================================================
		Subscription
======================================================*/
#subscription-row{
	-webkit-appearance:none;
	border-radius:0;
	background:white;
	border:3px solid #ddd;
	width:80%;
	margin: 0 auto;
	padding:10px;
	padding-bottom:0;
	font-weight:400;
	color:#989A9C;
	margin-bottom:20px;
	transition:0.2s all ease-in-out;
	-webkit-transition:0.2s all ease-in-out;
	-moz-transition:0.2s all ease-in-out;
}
#subscription-row-full{
	-webkit-appearance:none;
	border-radius:0;
	background:white;
	width:100%;
	margin: 0 auto;
	padding:10px;
	padding-bottom:0;
	font-weight:400;
	color:#989A9C;
	margin-bottom:20px;
	transition:0.2s all ease-in-out;
	-webkit-transition:0.2s all ease-in-out;
	-moz-transition:0.2s all ease-in-out;
}
#subscription-row:hover{
	background:#ddd;
	color:#333;
}
.strong{
	font-weight:bold;
	padding-right:2px;
}

/*============================================
     CART STYLES
=============================================*/
#normal-cart{
  display: none;
}
#mobile-cart{
  display:inline;
}

#cart-content{
}
#cart-img img{
  width:100%;
  height:auto;
}
#cart-items{
  visibility: hidden;
  height:0;
}
#cart-row{
  border:1px solid rgba(0,0,0,0.2);
  min-height:150px;
  padding-top:10px;
  padding-bottom:10px;
  margin-bottom:10px;
  position:relative;
}

#align-middle{
  text-align: left;
  padding-left:20px;
  padding-top:7%;
}

#cart-row input{
  width:50px;
}

#cart-row a{
  color:black;
  margin-bottom:10px;
  padding-bottom:10px;
}

#summary{
  padding-top:10px;
  border-radius:0;
}
#summary li{
  border-radius:0;
}
#summary a{
  border-radius:0;
}

#summary .btn-default{
  margin-top:5px;
}



/*======================================================
		checkout
======================================================*/

/*The checkout tabs styles*/
.checkout-tab-bar{
	background: #f1f1f1;
	padding: 10px;
	display:inline-block;
	width:100%;
}
.checkout-tab p{
	padding: 0;
	margin: 0;
}
.checkout-tab{
	margin: 0;
	margin-bottom:20px;
}
.checkout-tab-bar .col-md-6{
	text-align: left;
}
.checkout-tab .status{
	color: #333;
	text-rendering: geometricPrecision;
	text-transform: uppercase;
	font-size: 12px;
	margin-left: 0;
}
.checkout-arrow{
	float:left;
}.checkout-arrow:hover{
	cursor:pointer;
}

.checkout-content{
	display: none;
	transition: 0.3s all ease-in-out;
	-moz-transition: 0.3s all ease-in-out;
	-webkit-transition: 0.3s all ease-in-out;
}
.checkout-open{
	display: block;
}
#cart-img img{
	width:100%;
}
#checkout-row #title-p-d{
	padding:20px 0;
	padding-left:15px;
}
#checkout-row .form-control{
	border-radius:0;
	box-shadow: none;
	-webkit-box-shadow:none;
}

#address-form, #shop-checkout-shipping-method{
	padding:30px 0 ;
}

/*======================================================
		Credit Card
======================================================*/
.credit-card-input{
  background-image: url(../img/cards.jpg);
  background-position:2px 2px;
  background-size:45px 280px;
  background-repeat:no-repeat;
  padding-left:55px;
}
.defaultPosition{
  background-position:2px 2px;
}
.va{
  background-position:2px -40px;
}
.ma{
  background-position:2px -124px;
}
.mb{
  background-position:2px -166px;
}
.d{
  background-position:2px -208px;
}
.a{
  background-position:2px -250px;
}

.payment-card{
  margin:0 auto;
  border-radius:4px;
  border:1px solid #ccc;
  padding:5px;
}
.payment-card .row{
  padding-top:0;
  padding-bottom:0;
}
.clearfix .btn-important{
	margin-top:30px;
}
/*======================================================
		Placeholder styles
======================================================*/
.form-group input::-webkit-input-placeholder{
	color:#D1D1D1;
}
.form-group input::-moz-placeholder{
	color:#D1D1D1;
}
.form-group input::-ms-input-placeholder{
	color:#D1D1D1;
}
.btn-form-mirror{
	color:#333;
	text-decoration: underline;
}
.btn-form-mirror:hover, .btn-form-mirror:visited{
	color:black;
}

.disabled{
  pointer-events:none;
  background-color:#eee;
}

.navbar-inverse .navbar-toggle:focus{
	background:white;
}

.navbar-inverse .navbar-toggle:hover{
	background:#333;
}

}



@media screen and (max-width: 768px) {
/*======================================================
		Navigation
======================================================*/
.navbar-inverse .navbar-toggle{
	border:none;
	border-color:white;
	border-radius:0;
}
.navbar-inverse .navbar-toggle .icon-bar{
	background-color:#333;
}
.navbar-inverse .navbar-toggle:hover .icon-bar{
	background-color:#fff;
}
/*======================================================
		Home
======================================================*/
/*====================================================== TOP */
.header-home-left{
	height: 300px;
	padding-left:0;
}
.header-home-left img{
	width:80%;
}
.header-home-left h1{
	font-size:55px;
}
/*====================================================== Pricing bar */
.pricing-box .col-md-6{
	text-align: center;
	padding-bottom:40px;
}
/*======================================================
		shop-product
======================================================*/
.shop-product .col-md-5{
	text-align: left;
}
.shop-product h1{
	font-size:16px;
	text-transform: uppercase;
	letter-spacing: 1px;
}
.shop-product h3{
	color: #A1A1A1;
}
.shop-product .col-md-3{
	padding:0;
	margin-top:10px;
}
.shop-product .col-md-3 img{
	padding: 10px;
}
.shop-product .main-img{
	padding-left:10px;
}
.img-thumb img{
	width:100%;
}
.small-thumb:hover{
	cursor:pointer;
}
.previous-price{
	text-decoration: line-through;
}
.product-attributes th, .product-attributes td{
	color: #989A9C;
	font-weight:400;
}
.product-options{
	margin-bottom:20px;
}
.product-options select{
	-webkit-appearance:none;
	border-radius:0;
	background:white;
	border:3px solid #ddd;
	width:100%;
	padding:10px;
	font-weight:400;
	color:#989A9C;
	outline:none;
}
/*#billing_plan, #subscription_status*/
.custom-dropdown{
	margin:0;
	padding:0;
	width:100%;
}
.custom-dropdown select{
	border-radius:0;
	background:white;
	border:3px solid #ddd;
	width:100%;
	padding:10px;
	font-weight:400;
	color:#989A9C;
	margin-bottom:20px;
	outline:none;
	display:inline-block;
	-webkit-appearance:none;
	-moz-appearance:none;
}
/* Custom dropdown */
.custom-dropdown {
  position: relative;
  display: inline-block;
  vertical-align: middle;
}

.custom-dropdown::before,
.custom-dropdown::after {
  content: "";
  position: absolute;
  pointer-events: none;
}

.custom-dropdown::after { /*  Custom dropdown arrow */
  content: "\F078";
  font-family:FontAwesome;
  height: 1em;
  font-size: 1em;
  line-height: 1;
  right: 1.2em;
  top: 35%;
  color:#989A9C;
  margin-top: -.5em;
}
sub{
	bottom:0;
}
/*======================================================
		about page
======================================================*/
.about h1, .contact h1{
	color: white;
	font-weight: 700;
	font-size: 55px;
}
/*======================================================
		shop page
======================================================*/
.shop{
	max-width:;
}
.cat-list{
	padding-left:50px;
}
.cat-list #dropdownMenu1{
	border-radius:0;
	background:white;
	border:1px solid #f1f1f1;
	margin-bottom:30px;
	outline:none;
}
.dropdown-menu{
	margin-top:-40px;
	border-radius:0;
	border:1px solid #f1f1f1;
	-webkit-box-shadow:none;
	box-shadow: none;
	opacity:0;
	display:block;
	pointer-events:none;
	transition:0.2s all ease-in-out;
	-webkit-transition:0.2s all ease-in-out;
	-moz-transition:0.2s all ease-in-out;
}
.dropdown-menu p{
	margin-bottom:0;
}
.open>.dropdown-menu{
	margin-top:-30px;
	opacity:1;
	pointer-events:auto;
}


/*======================================================
		Contact page
======================================================*/
.contact-head{
	height: 300px;
}
#contact-form input, #contact-form textarea{
	margin-bottom:10px;
	border:1px solid #CCCCCC;
	border-radius:0;
	box-shadow:none;
	-webkit-box-shadow:none;
}
.contact-forms .btn-important{
	background:white;
	width:100%;
	margin-top:20px;
}
#big-thumb{
	display:none;
}

/*======================================================
		Buttons
======================================================*/
.btn-important{
	border:3px solid #494c50;
	border-radius:0;
	color:#494c50;
	background:white;
}
.btn-important:hover{
	background:#494c50;
	color:white;
}
.btn-default{
	border-radius:0;
	border:3px solid #f1f1f1;
}
.form-group label{
	font-weight:400;
	font-size:1em;
	padding-bottom:5px;
	color:;
}
.form-group input{
	margin-bottom:10px;
	border:1px solid #CCCCCC;
	border-radius:0;
	box-shadow:none;
	-webkit-box-shadow:none;
}
.form-control:focus{
	border-color:#333;
	box-shadow:none;
	-webkit-box-shadow:none;
}


/*======================================================
		Subscription
======================================================*/
#subscription-row{
	-webkit-appearance:none;
	border-radius:0;
	background:white;
	border:3px solid #ddd;
	width:80%;
	margin: 0 auto;
	padding:10px;
	padding-bottom:0;
	font-weight:400;
	color:#989A9C;
	margin-bottom:20px;
	transition:0.2s all ease-in-out;
	-webkit-transition:0.2s all ease-in-out;
	-moz-transition:0.2s all ease-in-out;
}
#subscription-row-full{
	-webkit-appearance:none;
	border-radius:0;
	background:white;
	width:100%;
	margin: 0 auto;
	padding:10px;
	padding-bottom:0;
	font-weight:400;
	color:#989A9C;
	margin-bottom:20px;
	transition:0.2s all ease-in-out;
	-webkit-transition:0.2s all ease-in-out;
	-moz-transition:0.2s all ease-in-out;
}
#subscription-row:hover{
	background:#ddd;
	color:#333;
}
.strong{
	font-weight:bold;
	padding-right:2px;
}

/*======================================================
		cart
======================================================*/
.cart-img p{
	display:inline-block;
}
.cart-img img{
	height:100px;
	float:left;
}
.price-list{

}
.list-group-item{
	border-radius:0;
}
.list-group-item:last-child{
	border-radius:0;
}
.list-group-item:first-child{
	border-radius:0;
}
#coupon-code{
	box-shadow:none;
	-webkit-box-shadow:none;
	border-radius:0;
	border:0;
	border-bottom:3px solid #f1f1f1;
}
.refresh-cart{
	margin-bottom:20px;
}


/*======================================================
		checkout
======================================================*/

/*The checkout tabs styles*/
.checkout-tab-bar{
	background: #f1f1f1;
	padding: 10px;
	display:inline-block;
	width:100%;
}
.checkout-tab p{
	padding: 0;
	margin: 0;
}
.checkout-tab{
	margin: 0;
	margin-bottom:20px;
}
.checkout-tab-bar .col-md-6{
	text-align: left;
}
.checkout-tab .status{
	color: #333;
	text-rendering: geometricPrecision;
	text-transform: uppercase;
	font-size: 12px;
	margin-left: 0;
}
.checkout-arrow{
	float:left;
}.checkout-arrow:hover{
	cursor:pointer;
}

.checkout-content{
	display: none;
	transition: 0.3s all ease-in-out;
	-moz-transition: 0.3s all ease-in-out;
	-webkit-transition: 0.3s all ease-in-out;
}
.checkout-open{
	display: block;
}
#cart-img img{
	width:100%;
}
#checkout-row #title-p-d{
	padding:20px 0;
	padding-left:15px;
}
#checkout-row .form-control{
	border-radius:0;
	box-shadow: none;
	-webkit-box-shadow:none;
}

#address-form, #shop-checkout-shipping-method{
	padding:30px 0 ;
}

.paragraph-overflow-text {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}