---
action: 'shop:customerProfile'
template: template-1
protocol: all
published: true
name: Profile
url: /profile
---

<div class="full-jumbotron no-padding row contact-head contact">
    <div class="col-md-12 text-center">
    	{% if customer %}
        	<h1>Welcome {{customer.first_name}}!</h1>
        {% else %}
        	<h1>Whoops! Login First</h1>
        {% endif %}

    </div>
</div>

<div class="jumbotron row">
	{% if customer %}
	
	<div class="panel-group checkout-accordions text-center" id="profile-addresses">
		{{ partial('shop-customerprofile') }}
	</div>		
	
{% else %}
	

  <div class="row">Please <a href="{{ root_url('login') }}">login</a> to edit your profile.</div>
{% endif %}
</div>
