---
template: master
protocol: all
published: true
name: 'Home'
url: /
---

<!-- <style>
	.block-banner {
		background-image: url('{{ theme.imageHomeBanner.thumbnail('auto', 'auto') }}') no-repeat;
	}
</style> -->

{{ partial('banner', {
	'background': theme.imageHomeBanner,
    'heading':    theme.textHomeBannerHeading,
    'content':    theme.textHomeBannerContent
}) }}

{% if theme.enableHowItWorks %}
	{{ partial('home-howitworks') }}
{% endif %}

{% if theme.enableFeaturedTestimonial %}
	{{ partial('home-featured-testimonial') }}
{% endif %}

{% if theme.enableFeaturedProducts %}
	{{ partial('home-featured-products') }}
{% endif %}

{% if theme.enableCallout %}
	{{ partial('callout') }}
{% endif %}

{% if theme.enableFeaturedBlogPosts %}
	{{ partial('home-featured-blog') }}
{% endif %}