---
description: 'index template'
---
<!DOCTYPE html> 
<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ --> 
<!--[if IE 8]> <html lang="en"> <![endif]--> 
<!--[if gt IE 8]><!--> <html lang="en" style="min-height: 100%; position: relative;"> <!--<![endif]--> 
<head>
    {{ partial('layout-head') }}
</head> 
<body style="margin: 0 0 100px;">
    {{ partial('layout-header')}}
    {{ page() }}
    <div style="position: absolute;
    left: 0;
    bottom: 0;
    height: 100px;
    width: 100%;">
    	{{ partial('layout-footer') }}
	</div>
    {{ partial('layout-foot') }}
</body>
</html>