---
template: master
protocol: all
published: true
name: 'Orders'
url: '/account/orders'
---

{{ partial('page-header', {
    'background': theme.defaultBanner,
    'title': page.title
}) }}

<div id="content" class="block block-gray">
    <div class="block-content">           
        <div class="container">        
            <div class="row">

                <div class="col-lg-3">
                    {{ partial('account-sidebar', { active: 'orders' }) }}
                </div>

                <div class="col-lg-9">
                    
                    {{ partial('flash') }}

                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title">Order History</h4>
                            
                            {% if customer.orders %}
                                <div class="table-responsive">
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th>Recieved</th>
                                                <th>Product</th>
                                                <th>Status</th>	
                                                <th class="text-right">Order Total</th>
                                                <th class="text-right">&nbsp;</th>	
                                            </tr>
                                        </thead>
                                        <tbody>

                                            {% for order in customer.orders %}
                                                
                                                <tr>
                                                    <td>{{ order.created_at.format("m/d/Y") }}</td>
                                                    <td><a href="{{ site_url('/account/order/' ~ order.id) }}">
                                                    	{% for item in order.orderItems %}   
                                                    		<div>{{ item.name }}</div>
                                                    	{% endfor %}
                                                    	</a>
                                                    </td>
                                                    <td>
                                                    	<!-- Updated: {{ order.status_updated_at|date("m/d/Y") }} -->
                                                    	<div class="active">{{ order.orderStatus.name }}</div>
                                                    </td>
                                                    <td class="text-right total">{{ order.total|currency }}</td>
                                                    <td class="text-right"><a href="{{ site_url('/account/order/' ~ order.id) }}">View</a></td>
                                                </tr>

                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            {% else %}
                                <p>There is currently no order history for your account.</p>
                                <a class="btn btn-primary" href="{{ site_url('/shop') }}">Continue Shopping</a>
                            {% endif %}
                        </div>
                    </div>    
                </div>
            </div>
        </div>
    </div>
</div>